* {
    margin: 0;
    padding: 0;
}


:root {
    --color1: #02010a;
    --color2: #04052e;
    --color3: #686868;
    --color4: #b8d4e3;
}

html, body {
    height: 100%;
    color: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 250px;
    overflow: auto;
    background-color: var(--color1);
    position: fixed;
    text-align: center;
}

.sidebar h1 {
    margin-top: 20px;
    font-size: 48px;
}

.sidebar ul {
    margin-top: 48px;
    list-style: none;
}

.sidebar ul li {
    margin: 8px;
}

#newBookBtn {
    padding: 8px;
    font-weight: bold;
    font-size: 18px;
    color: var(--color1);
    background-color: var(--color4);
    border-radius: 3px;
}

/* Main */

.card-container {
    margin-left: 250px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color2);
}

.card {
    display: grid;
    grid-template-rows: repeat(5, 60px);
    grid-template-columns: 1fr;
    width: 250px;
    height: 300px;
    border: 2px solid var(--color4);
    border-radius: 8px;
    margin: 30px 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card * {
    padding: 8px;
}

.btn {
    margin: auto;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 18px;
    color: var(--color1);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.read {
    transition: 250ms;
    background-color: rgb(255, 200, 0);
}

.read:hover {
    background-color: rgb(253, 29, 29);
}

.not-read {
    transition: 250ms;
    background-color: rgb(255,30, 0);
}

.not-read:hover {
    background-color: rgb(230, 50, 33);
}

.remove {
    background-color: rgb(0, 20, 230);
}

.remove:hover {
    background-color: rgb(20, 20, 150);
}


/*Register display */

.register-book-section {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    align-items: center; 
}

#close {
    position: relative;
    left: 95vw;
    bottom: 45vh;
    width: 40px;
    cursor: pointer;
}

.book-register {
    color: var(--color1);
    background-color: var(--color3);
    width: 350px;
    height: 470px;
    margin: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.book-register h1 {
    margin-top: 15px;
}

.book-register > div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.book-register > div label{
    width: 250px;
    text-align: start;
    font-weight: bold;  
}

.book-register input {
    background-color: rgb(216, 226, 231);
    font-size: 16px;
    border: 0;
}

.book-register > div input {
    margin: 0;
    width: 250px;
    height: 30px;
    background-color: col;
}

.book-register div input:focus {
    outline: none;
}

#container {
    flex-direction: row;
    width: 250px;
    align-items: center;
}

#container p {
    font-weight: bold;
}

#container div {
    width: 150px;
    margin-left: 10px;
    display: flex;
    align-items: center;

}

#container input {
    width: 20px;
    margin: 10px;

}
#container input:focus {
    outline: none;
}

.book-register button {
    width: 100px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}